extends layout

block content
    h1 #{title}
    
    h1 New Mod Form
    div
        form(action='/mods/newmod', method='post')
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='title') MOD TITLE 
                        input(id='title', type='text',value='', placeholder='Mod title...',name='title', required='required')
                
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='moddedGame') MODDED GAME  
                        input(id='moddedGame', type='text',value='', placeholder='Modded game...', name='moddedGame', required='required') 

            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='director') MOD DIRECTOR 
                        input(id='director', type='text',value='', placeholder='Mod director...', name='director', required='required')

            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='publisher') MOD PUBLISHER  
                        input(id='publisher', type='text',value='', placeholder='Mod publisher...', name='publisher', required='required')

            div(data-role='fieldcontain')   
                input(type='submit',value='Insert New Mod',data-transition='fade', data-theme='c')

    br
    h2 Mods list
    div 
        table(style="width:50%")
            thead 
                tr: th DEL
                    th Mod Title
                    th Modded Game
                    th Director
                    th Publisher
                tbody 
                    each mod in mods
                        tr 
                            td
                                form(action='/mods/delete' method='get')
                                    input(type='hidden', value='#{mod.id}', name='delete_id')
                                    input(type='submit', value='X', data-transition='fade', data-theme='c')
                            td #{mod.title}
                            td #{mod.moddedGame}
                            td #{mod.director}
                            td #{mod.publisher}